:root {
    --background: #121212;
    --off-white: #b3b3b3;
    --darker-gray: #181818;
    --dark-gray: #282828;
    --spotify-green: #1db954;
    --gray: #1f1f1f;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    width: 100%;

}

.sidebar {
    flex-direction: column;
    padding-top: 30px;
    padding-left: 30px;
    width: 19%;
    display: none;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.playlist-header {
    display: flex;
    align-items: flex-end;
    gap: 30px;
    position: relative;
}

.playlist-cover {
    width: 100%;
    border-radius: 10px;
    height: clamp(15rem, 40vh, 30rem);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    object-fit: cover;
    object-position: top;
}

.playlist-info {
    position: absolute;
    left: 1rem;
    bottom: 1rem;
}

.playlist-info h1 {
    font-size: 3rem;
    font-weight: bold;
}

.playlist-desc {
    color: var(--off-white);
    font-size: 0.875rem;
}

body {
    background-color: var(--background);
    color: white;
    font-family: "Helvetica Neue", sans-serif;
    height: 100vh;
}

.play-button {
    background-color: var(--spotify-green);
    color: white;
    border: none;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    font-size: 1.5rem;
    cursor: pointer;
}

.like-button,
.download-button {
    background: none;
    border: none;
    cursor: pointer;
}

.download-button img,
.like-button img {
    filter: invert(1);
    width: 22px;
}

.controls {
    display: flex;
    gap: 20px;
    align-items: center;
    margin: 25px;
}

.songs {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.song-header,
.song-header p {
    display: none;

}

.songs-info-mobile {
    display: flex;
    flex-direction: column;
}

.songs-row {
    padding: 1.25rem;
    border-radius: 4px;
    transition: background 0.2s;
}


.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.num {
    font-size: 2rem;
    font-weight: 600;
}

.song-info p:first-child {
    font-weight: 600;
    font-size: 1.25rem;
}

.row:hover {
    background-color: var(--darker-gray);
}

.wide {
    flex: 2;
}

.num,
.duration {
    width: 10%;
}

.date {
    display: none;
}

@media(min-width: 770px) {
    .song-header {
        text-transform: uppercase;
        font-size: 0.8rem;
        font-weight: 700;
        background-color: var(--gray);
    }

    .song-header p {
        display: block;
    }

    .row {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        padding: 10px 8px;
    }

    .date {
        display: block;
        width: 15%;
    }

    .songs-info-mobile {
        display: flex;
        flex-direction: row;
        flex: 4;
    }

    .num {
        font-weight: normal;
        font-size: 1rem;
    }

    .song-info p:first-child {
        font-weight: normal;
        font-size: 1rem;
    }

    .songs-row {
        padding: opx;
    }

    .sidebar {
        display: flex;
        flex-direction: column;
        background-color: black;
        gap: 20px;
    }

    .biblio {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        color: var(--off-white);
        width: 85%;
        font-size: 18px;
        font-weight: bold;
    }

    .links-sidebar {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        width: 85%;
        gap: 15px;

    }

    .link {
        color: white;
        text-decoration: none;
        transition: color 0.5s;
    }

    .link:hover {
        color: #282828;
    }

    .sidebar-content {
        background-color: var(--dark-gray);
        width: 85%;
        height: 4%;
        border-radius: 10px;
        align-content: center;
        cursor: pointer;
        transition: background-color 0.5s;
    }

    .sidebar-content:hover {
        background-color: var(--darker-gray);
    }

    .sidebar a {
        overflow: hidden;
    }
}